<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "header/nav.html" . }}

        {{ partial "page.html" . }}

        {{ partial "footer/contact.html" . }}
        {{ partial "footer/js.html" . }}
    </body>
    <script type="text/javascript">
        setInterval(function() { 
            offset = -4.0 //EDT
            client_date = new Date();
            utc = client_date.getTime() + (client_date.getTimezoneOffset() * 60000);
            server_date = new Date(utc + (3600000*offset));
            $('#current-time').html(server_date.toLocaleString());
        }, 1000);
    </script>
</html>
