{{ "<!-- BACKGROUND -->" | safeHTML }}
<section class="bg-secondary" id="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Background</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <p>
                    Why is there a list combining a licensing model with a geographical location?
                    <br /><br />
                    Generally, I've found that the Open Source community is just that - a community. People who contribute to open source code often do so
                    because they know other contributors personally, they use each other's code, or they met someone at an event who pointed them to something.
                    You'll find that a lot of open source projects are city specific - frequent attenders of meetups tend to hear about the same projects, learn
                    about the same companies doing open source, and contribute in the same way.
                    <br /><br />
                    Montreal is no exception. If you're interested in Open Source, it's likely you ended up one day at <a href="https://github.com/maison-notman-house">Notman House</a>.
                    If you're learning to code, it's likely you've heard of <a href="https://github.com/pitonneux">Les Pitonneux</a>. If you're building an open source business, you
                    might know that <a href="https://github.com/shopify">Shopify</a> was cofounded by a Quebecois. If you're a gamer, you might know that Ubisoft's
                    Prince Of Persia was made here, and that the original source code is <a href="https://github.com/jmechner/Prince-of-Persia-Apple-II">on GitHub</a>.
                    <br /><br />
                    I want to build a list where we can see and learn about each other's code, just a bit easier, in the open.
                </p>
            </div>
        </div>
    </div>     
</section>
