{{ "<!-- CONTRIBUTION -->" | safeHTML }}
<section class="bg-primary"  id="contribution">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contribution</h2>
                <hr class="dark">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <p>
                    <b>Please do!</b><br /><br />
                    &#8226; If you know of any resources that aren't here, please read the <a href="{{ .Site.Params.contribution.guide }}">contribution guide</a>, open a PR and add them.<br />
                    &#8226; If you have any questions or want a feature, please <a href="{{ .Site.Params.contribution.issue }}">open an issue</a>.<br />
                    &#8226; If you know a friend or two in another cities, please encourage them to contribute to their respective <a href="https://github.com/opensourcecities">cities</a>.<br /><br />
                    Thank you!
                </p>
            </div>
        </div>
    </div>
</section>
