{{ "<!-- OTHER -->" | safeHTML }}
<section class="bg-dark" id="other">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Other lists</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 text-center">
                <p>
                    <ul class="text-left item-listing">
                        {{ range .Site.Data.other }}
                            <li>
                                {{ .name }}

                                {{ with .description }}
                                    - {{ . | markdownify }}
                                {{ end }}

                                {{ with .website }}
                                    [<a href="{{ . }}">website</a>]
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
