{{ "<!-- PROJECTS -->" | safeHTML }}
<section class="bg-secondary" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 text-center">
                <p>
                    These projects have been developed mainly in Montréal, or by Montréalers.
                    <ul class="text-left item-listing">
                        {{ range .Site.Data.projects }}
                            <li>
                                <a href="{{ .link }}">{{ .name }}</a>

                                {{ with .description }}
                                    - {{ . | markdownify }}
                                {{ end }}

                                {{ with .website }}
                                    [<a href="{{ . }}">website</a>]
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
