{{ "<!-- USERS -->" | safeHTML }}
<section class="bg-dark" id="users">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Users with Open Source projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{ if .Site.Data.users }}
                <ul class="portfolio-items">
                    {{ range .Site.Data.users }}
                        <li class="portfolio-item text-center">
                            <a href="#user-{{ replace .github "/" "-" }}" class="portfolio-link" data-toggle="modal">
                                <div class="service-box">
                                    <img src='https://github.com/{{ range first 1 (split .github "/") }}{{ . }}{{ end }}.png'></img>
                                    <h3>@{{ .github }}</h3>
                                    <p class="text-muted">
                                        {{ with .bio }}
                                            {{ . | truncate 40 }}
                                        {{ else }}
                                            &nbsp;
                                        {{ end }}
                                    </p>
                                </div>
                            </a>
                            <div class="portfolio-modal modal fade" id="user-{{ replace .github "/" "-" }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <div class="close-modal" data-dismiss="modal">
                                        <div class="lr">
                                            <div class="rl">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 col-lg-offset-2">
                                                <div class="modal-body text-center">
                                                    <h2>{{ .name }}</h2>
                                                    <h4>@{{ .github }}</h4>
                                                    <hr class="star-primary">
                                                    <img src="https://github.com/{{ range first 1 (split .github "/") }}{{ . }}{{ end }}.png" class="img-responsive img-centered" alt="">
                                                    <p>
                                                        {{ with .bio }}
                                                            {{ . | markdownify }}<br />
                                                        {{ end }}
                                                        {{ with .github }}
                                                            [<a href="https://github.com/{{ . }}">github</a>]
                                                        {{ end }}
                                                        {{ with .twitter }}
                                                            [<a href="https://twitter.com/{{ . }}">twitter</a>]
                                                        {{ end }}
                                                        {{ with .website }}
                                                            [<a href="{{ . }}">website</a>]
                                                        {{ end }}
                                                    </p>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <p class="text-center">No records found.</p>
            {{ end }}
        </div>
    </div> <!--close container-->
</section>
